body {
    font-size: 18px;
}

/* @media (max-width: 992px) {
    body p {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    body p {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    body p {
        font-size: 15px;
    }
} */

.menu .ul-menu li {
    padding: 15px 25px 15px 0px;
    display: inline-block;
}

.menu .ul-menu li a {
    color: black;
    font-style: normal;
}

.ul-menu .ul-menu2 a {
    padding-left: 1345px;
}

.content {
    z-index: 2;
    position: relative;
}

.content .block-1 img {
    width: 100%;
    height: auto;
}

.content .block-2 h2 {
    position: absolute;
    top: 10%;
    left: 6%;
    color: white;
    font-size: 55px;
}

.content .block-2 p {
    position: absolute;
    top: 232px;
    left: 115px;
    color: white;
    font-size: 24px;
}

.content .container {
    background-color: rgb(199, 198, 197);
    padding-left: 75px;
}

.content .container .item-1 {
    margin-top: -5px;
    padding-left: 35px;
    padding-top: 1px;
}

.content .container .item-1 p {
    margin-top: -15px;
}

.content .container .tb-img .img-1 img {
    margin: 30px;
    width: 500px;
    height: auto;
}

.content .container .tb-img .img-2 img {
    margin: 30px;
    width: 500px;
    height: 531px;
}

.footer {
    background: rgb(250, 220, 220);
    margin-top: -18px;
}

.footer ul li {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
}

.footer ul .li-1 {
    margin-left: 66px;
}

.footer ul .li-2 {
    margin-left: 232px;
}

.footer ul .li-3 {
    margin-left: 174px;
}

.footer ul li .a-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.footer ul li .a-link {
    font-style: normal;
    color: blue;
}